.ticket-card {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s;
}

.ticket-card:hover {
    transform: translateY(-5px);
}

.ticket-top {
    background: #001a3b; /* Azul Alianza */
    border-bottom: 2px dashed #ffffff;
}

.badge-gold {
    background-color: #B8A26A; /* Dorado */
    color: #000;
    font-weight: bold;
    font-size: 0.7rem;
}

.text-primary {
    color: #001a3b !important;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    border-radius: 8px;
}