:host {
    --alianza-azul: #002244; /* Azul Alianza */
    --alianza-dorado: #B8A26A;
    --alianza-blanco: #ffffff;
    --texto-claro: #f0f0f0;
    --linea-separadora: #555555;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand { font-weight: bold; }
.bg-primary { background-color: #002244 !important; }

.jumbotron-admin {
   background-image: linear-gradient(rgba(0, 34, 68, 0.85), rgba(0, 34, 68, 0.85)), 
                      url('/img/menuprincipal/baner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 3rem 0;
    border-bottom: 5px solid var(--alianza-dorado);
}


.card-stat {
    transition: transform 0.3s;
    border-radius: 15px;
}
.card-stat:hover {
    transform: translateY(-5px);
}

.banner-gestion {
    background-color: var(--alianza-azul);
    background-image: url('/img/menuprincipal/fondon.jpg');
    background-blend-mode: overlay;
    background-size: cover;
}

.btn-dorado {
    background-color: var(--alianza-dorado);
    color: white;
    border: none;
    font-weight: bold;
}

.btn-dorado:hover {
    background-color: #a38f5a;
    color: white;
}