:host {
    --alianza-azul: #002244; /* Azul Alianza */
    --alianza-dorado: #B8A26A;
    --alianza-blanco: #ffffff;
    --fondo-partidos: #2c2c2c;
    --texto-claro: #f0f0f0;
    --linea-separadora: #555555;
}

.navbar-brand { font-weight: bold; }
.bg-primary { background-color: #002244 !important; }

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                      url('/img/menuprincipal/baner.jpg');
    background-color: var(--alianza-azul);
    color: var(--alianza-blanco);
    padding: 5rem 2rem;
    margin-bottom: 0;
    border-radius: 0;
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-intimo {
    background-color: var(--alianza-dorado);
    color: var(--alianza-blanco);
    border-color: var(--alianza-dorado);
    font-weight: bold;
    padding: 10px 30px;
}

.seccion-partidos {
    background-color: var(--fondo-partidos);
    color: var(--texto-claro);
    padding: 3rem 0;
}

.escudo-partido {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.seccion-noticias {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('/img/menuprincipal/fondon.jpg');
    background-size: cover;
    padding: 3rem 0;
    color: var(--alianza-blanco);
}

.banner-entradas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url('/img/menuprincipal/entradas.png');
    background-size: cover;
    padding: 5rem 0;
    text-align: center;
    color: var(--alianza-blanco);
}

.btn-entradas {
    background-color: var(--alianza-dorado);
    color: white;
    font-weight: bold;
    padding: 12px 40px;
    font-size: 1.5rem;
}